.cart {
  background: white;
  padding: 1rem;
  box-shadow: 0 0 12px 0 rgb(185 185 185 / 35%);
  border-radius: 10px;
  margin-top: 2rem;
  img {
    height: 7rem !important ;
  }
  .price {
    font-size: 1.1rem !important;
  }

  .pricing {
    display: flex;
    padding: 1.2rem 0.5rem;

    justify-content: space-between;
    align-items: center;
    .promotionArea {
      display: flex;
    }
    .pricingText {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}
