#cartPage {
  .buttonArea {
    margin-top: 1rem;
    text-align: right;
    .buyButton {
      background: var(--cart-color);
      color: white;
    }
  }
  .card {
    img {
      height: 7rem !important ;
    }
    .price {
      font-size: 1.1rem !important;
    }

    .pricing {
      display: flex;
      padding: 1.2rem 0.5rem;

      justify-content: space-between;
      align-items: center;
      .promotionArea {
        display: flex;
      }
      .pricingText {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
  .titleArea {
    .addButton {
      background: var(--primary-color);
      fill: white;
      stroke-width: 3;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .paymentOptions {
    .creditCard {
      margin: 0 auto;
      width: 20rem;
      input {
        margin-bottom: 1rem;
      }
    }
    .addressTitle {
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgb(229 229 229 / 0.7);
      padding: 0.7rem 0;
      svg {
        fill: var(--secondary-text-color);
        font-size: 1.2rem;
      }
      h5 {
        font-weight: 600;
        padding-left: 1rem;
        margin: 0;
      }
    }
    .card {
      cursor: pointer;
    }

    .activePayment {
      .paymentContent {
        display: block;

        padding: 1rem;
        border: 1px solid #e6e6e6;
        border-top: 0;
        .radio {
          label {
            padding-left: 0.5rem;
            margin: 0;
          }
          margin-bottom: 1rem;
          font-weight: 600;
          .muted {
            opacity: 0.5;
            font-weight: initial;
          }
        }
      }

      .card {
        border-radius: 10px 10px 0 0;

        .arrow {
          svg {
            transition: all 0.5s ease-out;
            transform: rotateZ(180deg);
          }
        }
      }
    }
    .paymentContent {
      display: none;
      background: #f7f7f7;
      border-radius: 0 0 10px 10px;
    }
    .addressTitle {
      padding: 0;
      border: none;
      display: flex;
      justify-content: space-between;
      .arrow {
        svg {
          transition: all 0.5s ease-out;
        }
      }
    }
  }
}
