#foodSlider {
  padding: 1rem 0 1rem 0;

  .aboutArea {
    display: flex;
    justify-content: space-between;
  }

  .arrowButton {
    background: rgba(0, 0, 0, 0.5);
    color: var(--primary-text-color);
  }
  .food {
    margin: 0px 10px;
  }
}

.arrow {
  left: unset;
  top: -1.5rem;
  &::before {
    color: black;
    opacity: 0.5;
    transition: var(--default-transition);
    font-size: 30px;
  }
}
.prevArrow {
  right: 3rem;
}

.nextArrow {
  left: unset;
  right: 1rem;
}
