.main {
  box-shadow: 0 0 12px 0 rgb(185 185 185 / 35%);
  border-radius: 10px;
  position: relative;
  margin-bottom: 1rem;
  transition: var(--default-transition);
  &:hover {
    transform: scale(1.02);
    transition: var(--default-transition);
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;

    border-radius: 13px 13px 0 0;
  }
  .detail {
    background: white;
    height: 8rem;
    border-radius: 100% 100% 100% 0% / 70% 70% 0% 100%;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    display: flex;
    justify-content: center;

    .inner {
      position: absolute;
      top: -2.5rem;
      display: flex;
      padding-top: 0.7rem;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      h4 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        width: 90%;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sellPrice {
        color: var(--primary-color);
        font-weight: 600;
        padding: 5px 0;
      }
    }
  }

  .cartButton {
    background: var(--cart-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    &:hover {
      box-shadow: 0 0 15px 0 rgb(247 157 22 / 35%);
      transform: scale(1.05);
    }
  }
}
