.button {
  color: var(--secondary-text-color);
  font-size: 17px;
  font-weight: 500;
  padding: 10px 25px;
  transition: var(--default-transition);
  &:hover {
    text-decoration: none;
    color: var(--secondary-text-color);
    box-shadow: 0 0 15px 0 rgba(140, 140, 140, 0.2);
    transform: scale(1.05);
    transition: var(--default-transition);
  }
  display: inline-block;
  border-radius: 10px;
}
.orange {
  background: var(--primary-color);
  color: var(--primary-text-color);
  &:hover {
    text-decoration: none;
    color: var(--primary-text-color);
  }
}
