.addressCard {
  cursor: pointer;
  .adressInner {
    padding: 1rem 0;
    h6 {
      font-weight: 600;
    }
    h6::after {
      content: ':';
      position: absolute;
      right: 0;
    }
  }
}
.addressTitle {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(229 229 229 / 0.7);
  padding: 0.7rem 0;
  svg {
    fill: var(--secondary-text-color);
    font-size: 1.2rem;
  }
  h5 {
    font-weight: 600;
    padding-left: 1rem;
    margin: 0;
  }
}
.active {
  background: #ffaf5d;
  color: white;
  .addressTitle {
    border-color: rgb(255 255 255 / 0.7);
  }
  svg {
    fill: white !important;
  }
}
