.modal {
  border-radius: 20px;
  background: white;
  z-index: 6;
  width: 50rem;
  height: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  .modalInner {
    padding: 1.5rem;
    .modalTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px dashed var(--secondary-text-color);
      padding-bottom: 0.2rem;
      h3 {
        margin: 0;
      }
      .sellPrice {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--primary-color);
      }
      .basePrice {
        color: black;
        opacity: 0.3;
        text-decoration: line-through;
        padding: 0 1rem;
      }
    }
    .modalContent {
      h6 {
        font-weight: 600;
      }
      padding-top: 1rem;
      .foodImage {
        text-align: center;
        img {
          width: 20rem;
          border-radius: 20px;
        }
        margin-bottom: 1.5rem;
      }
      .foodDetail {
        padding-bottom: 1.5rem;

        .noMaterial {
          text-decoration: line-through;
        }

        .info {
          padding-left: 5px;
          color: var(--primary-color);
          cursor: pointer;
        }
        h6 {
          line-height: unset;

          margin: 0;
        }
        h6::after {
          content: ':';
          position: absolute;
          right: 0;
        }
      }
    }

    .modalFooter {
      padding-top: 1rem;
      text-align: right;
      .addCart {
        background: var(--cart-color);
        color: white;
      }
    }
  }
}
