.categoryButton {
  background: #f4f9ff;
  color: #2e4765;
  fill: #2e4765;
  font-weight: 600;
  padding: 0.7rem 1rem;
  transition: var(--default-transition);
  border-radius: 50px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  span {
    display: flex;
    margin-right: 0.5rem;
  }
  &:hover {
    fill: white;
    transition: var(--default-transition);
    text-decoration: none;
    background: var(--primary-color);
    color: white;
  }
}
