#footer {
  margin-top: 5rem;
  background: var(--secondary-text-color);
  padding: 5rem 0;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 0 20px 0 rgb(99 99 99 / 0.4);
  .brand {
    svg {
      width: 150px;
      height: auto;
    }
  }
  .copyright {
    color: white;
    opacity: 0.7;
    margin-top: 1rem;
    font-size: 0.7rem;
  }
  .social {
    margin-top: 1rem;
    a {
      margin-right: 0.5rem;
      svg {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
  .menu {
    ul {
      list-style: none;

      li {
        padding: 0.5rem;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
