.chartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 200px !important;
    margin-top: 20px;
    height: 200px !important;
}

.address {
    span {
        display: block;
    }
}

.green{
    background: #a5edb6 !important;
}
.red {

    background: #ffb5b5 !important;
}