@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-text-color);
  background-image: url('/images/wave.svg');
  background-repeat: no-repeat;
}

.slick-list {
  padding: 15px 0 !important;
}
.slick-slide {
  padding: 0px 10px;
}

h4,
h3,
h2 {
  font-weight: 600;
}

img {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.wave-container {
  position: relative;
  background: #09f;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.wave-container > svg {
  display: block;
}
