@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.slick-list {
  padding: 15px 0 !important;
}

h3 {
  font-weight: 600;
}
