:root {
  --primary-text-color: white;
  --secondary-text-color: #2e4765;
  --primary-color: #ff5e00;
  --cart-color: #56cc77;
  --default-transition: all 0.3s ease;
  --admin-sidemenu-color: #1d2e44;
}
